/* COLOR*/
/*Fonts*/
/* transition*/
/*icons*/
h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.address {
  font-style: normal;
}

.button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.section {
  width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.contener {
  width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
}

.list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.transition, .benefits__list, .product__list, .user, .addrees__list, .gallery-btn, .section-work {
  list-style: none;
}

.nav__contener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin: 0px auto;
}

.transition, .contacts__phone--color, .contacts__email--color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}

.nav__site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.transition__page--color {
  color: #212121;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.transition__page--color:hover, .transition__page--color:focus {
  color: #2196F3;
}

.transition__page--current {
  color: #2196F3;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.transition__page--current:hover, .transition__page--current:focus {
  color: #212121;
}
.transition__page--current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 4px;
}

.transition__link {
  position: relative;
}

.transition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.transition__link:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
}

.contacts__email--color {
  color: #757575;
  margin-right: 30px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__email--color:hover, .contacts__email--color:focus {
  color: #2196F3;
}

.contacts__phone--color {
  color: #757575;
  margin-right: 50px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__phone--color:hover, .contacts__phone--color:focus {
  color: #2196F3;
}

.contacts__svg {
  fill: currentColor;
  margin-right: 10px;
}

.logo {
  margin-right: 93px;
}

.logo, .logo__studio--color, .logo__web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
}

.logo__web {
  color: #2196F3;
}

.logo__studio--color {
  color: var #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__studio--color:hover, .logo__studio--color:focus {
  color: #2196F3;
}

.heroy {
  background-color: rgba(47, 48, 58, 0.4);
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/fon.jpg);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  padding: 200px 0;
  margin: 0 auto;
}

.heroy__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto 30px auto;
  color: #ffffff;
}

.btn {
  background-color: #2196F3;
  color: #FFFFFF;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  width: auto;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  margin-top: 30px;
}

.benefits__title, .comand__title,
.product__title {
  color: #212121;
}

.benefits__text {
  line-height: 1.71;
}

.benefits__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*product*/
.product {
  padding-bottom: 94px;
}

.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__title,
.comand__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  margin-bottom: 50px;
}

.product__item {
  position: relative;
  margin-left: 30px;
}

.product__item:first-child {
  margin-left: 0px;
}

.product__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
}

/*comand*/
.comand {
  background-color: #F5F4FA;
  padding-bottom: 94px;
  padding-top: 94px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user__card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: 30px;
}

.user__card:first-child {
  margin-left: 0px;
}

.user__title {
  padding: 30px 0px;
}

.user__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.user__profession {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin-bottom: 16px;
}

.social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social__link--bgrcolor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--client-color);
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link--bgrcolor:hover, .social__link--bgrcolor:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.social__link--bgrcolor .social__svg--color {
  fill: currentColor;
}

/*   Compani  */
.compani__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 94px;
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 94px 0;
  list-style: none;
}

.client-logo {
  margin-right: 30px;
  width: 170px;
  height: 92px;
}

.client-logo:last-child {
  margin-right: 0px;
}

.client__svg {
  fill: currentColor;
}

.client__link--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link--active:hover {
  color: #2196F3;
  border: 1px solid #2196F3;
}

/*footer*/
.footer {
  background-color: #2F303A;
  padding: 60px 0px;
}

.footer__contener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-addrees {
  margin-right: 70px;
}

.logo__footer--color {
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__footer--color:hover, .logo__footer--color:focus {
  color: #2196F3;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.addrees__list {
  padding: 0px;
}

.address__contact {
  margin-bottom: 9px;
}

.address__contact:last-child {
  margin-bottom: 0px;
}

.address__link--location {
  color: #FFFFFF;
  line-height: 1.71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link--location:hover, .address__link--location:focus {
  color: #2196F3;
}

.address__mail--write {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__mail--write:hover, .address__mail--write:focus {
  color: #2196F3;
}

.address__mail--call {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__mail--call:hover, .address__mail--call:focus {
  color: #2196F3;
}

.social-address__text {
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.social__svg {
  fill: #FFFFFF;
}

.social__footer--bgr {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__footer--bgr:hover, .social__footer--bgr:focus {
  background-color: #2196F3;
}

.social-address {
  margin-right: auto;
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscription-form__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  padding-left: 15px;
}
.subscription-form__input:focus {
  color: #FFFFFF;
}

.subscription-form-btn {
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  background-color: #2196F3;
  border: none;
}

.btn__svg {
  fill: #FFFFFF;
  padding-left: 10px;
}

.backdrop--opacity {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--opacity.is-hidden {
  opacity: 0.5;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 40px;
  margin-bottom: 10px;
}

.modal__blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.modal-form__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: auto;
  margin-bottom: 12px;
}

.btn-modal--fill {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal--fill:focus, .btn-modal--fill:hover {
  fill: #2196F3;
}

.label {
  position: relative;
  margin-bottom: 10px;
}

.label__input--color {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label__input--color:focus {
  border-color: #2196F3;
}

.label__icon--fill {
  font-weight: 200;
  position: absolute;
  top: 32px;
  left: 12px;
  color: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label__input--color:focus ~ .label__icon--fill {
  fill: #2196F3;
}

.label__name {
  display: block;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.label-textarea--color {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-textarea--color:focus {
  border-color: #2196F3;
}
.label-textarea--color::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.label-textarea--color::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.label-textarea--color:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.label-textarea--color::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.label-textarea--color::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 9px;
  margin: 0 auto;
  vertical-align: middle;
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox__svg--hidden {
  fill: #21c9f3;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__icon .checkbox__svg--hidden {
  opacity: 1;
}

.checkbox__svg--active {
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__icon .checkbox__svg--active {
  opacity: 0;
}

.checkbox__text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox__link {
  color: rgba(33, 150, 243, 0.9);
  text-decoration: underline;
}

.modal-btn {
  background-color: #21c9f3;
  padding: 10px 52px;
}

.nav {
  border-bottom: 1px solid #ECECEC;
}

.gallery {
  padding: 94px 0px;
}

.section-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
}

.card {
  margin-right: 30px;
  margin-bottom: 30px;
}

.card:nth-child(3n) {
  margin-right: 0px;
}

.card:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.card__link--shadow {
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link--shadow:hover, .card__link--shadow:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__product {
  position: relative;
  overflow: hidden;
}

.card__anime--hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link--shadow:hover .card__anime--hidden, .card__link--shadow:focus .card__anime--hidden {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.card:hover .card__anime--hidden {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.card__text {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
}

.card__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}

.card__item {
  border: 1px solid #ECECEC;
  padding: 24px 24px;
}

.card__desc {
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
  text-align: left;
}

.gallery-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.gallery-btn__choice:not(:last-child) {
  margin-right: 8px;
}

.button--color {
  background-color: #F5F4FA;
  color: #212121;
  font-family: inherit;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--color:hover, .button--color:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}/*# sourceMappingURL=main.css.map */