:root {
    /* COLOR*/
    --premiery-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --heroy-color: #2F303A;
    --body-color: #FFFFFF;
    --comand-color: #F5F4FA;
    --logo-color: #000000;
    --header-color: #ffffff;
    --addrees-color: #ffffff60%;
    --line-color: #ECECEC;

    /*Fonts*/
    --main-font: 'Roboto', sans-serif  ;
    --secondary-font: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0px; 
    padding: 0px;
}
img {
    display: block;
    max-width: 100%;
    height:auto;
}
.address{
    font-style: normal;
}
.button{
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.contener {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.list{
list-style:none;
padding-left:0px;
margin: 0px;
}
.link{
    text-decoration: none;
}

body {
    color: var(--premiery-color);
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
   
}

a { 
    text-decoration: none;
}
.list-nav, .list-priorities, .list-work, .list-comand, .list-address {
    list-style: none;
  }

/*navigation*/
.contener-nav-portfolio{
    border: 1px solid var(--line-color);
}
.contener-nav{
display: flex;
align-items: center;
}
   .logo-site, .logo-footer, .logo-web {    
        font-family:var(--secondary-font);
        font-weight: 700;
        font-size: 26px;
        line-height:calc(31/26);
    }
        .list-nav, .link-nav, .link-nav-box {
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;}
.big-nav{
    display: flex;
   align-items: center;
}
 .logo-site{
    margin-right: 93px;
 }   
.logo-web {
color: var(--accent-color);
}
.logo-nav {
    color: var(--logo-color) ;
}
.site-nav {
    color: var(--title-color);
    display: block;
    padding-top:32px ;
    padding-bottom: 32px;
}
.site-nav:hover,
.site-nav:focus {
    color: var(--accent-color);
}
.curent{
    color: var(--accent-color);
}
.curent:hover,
.curent:focus {
    color: var(--title-color);
}
.logo-site, .logo-nav:hover,
.logo-site, .logo-nav:focus {
    color: var(--accent-color);
}

.link-nav {
    color: var(--premiery-color);
    margin-right: 50px;
    } 
 
 .link-nav:hover,
 .link-nav:focus
 {
    color: var(--accent-color);
 }   
.link-nav-box {
    color: var(--premiery-color);
}

.link-nav-box:hover,
.link-nav-box:focus {
    color: var(--accent-color);
}
.list-nav{
    display: flex;
    margin-right: 310px;
}
.item-nav:not(:last-child){
    margin-right: 50px;
}
.nav-phone{
    fill: #000;
    background-color:var(--accent-color) ;
}
.small-nav {
    margin-left: auto;

}


/*heroy*/

.heroy {
    background-color: var(--heroy-color);
padding: 200px 0;
}
.title-heroy {
        font-weight: 900;
        font-size: 44px;
        line-height:calc(60/44);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        width: 696px;
        margin: 0 auto 30px auto;
      
}
 [type="button"]{
    background-color: var(--accent-color); 
    color: var(--body-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    margin-left: auto ;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
}

/*priorities*/
.priorities{
    padding: 94px 0px;
}
.list-priorities{
    display: flex;
    gap: 30px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

    .title-priorities{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    }
   
.title-priorities, .title-comand, .title-work {
    color: var(--title-color);
}
.text-priorities{
    line-height: 1.71;
}

/*work*/
.work{
    padding-bottom: 94px;
}
.list-work{ 
    display: flex; 
}

.title-work,
.title-comand {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    margin-bottom: 50px;
}

.title-priorities, .title-name{
    margin-bottom: 10px;
}

.item-work {
    margin-left: 30px;
}
.item-work:first-child{
    margin-left: 0px;
}

/*comand*/

.comand {
    background-color: var(--comand-color);
    padding-bottom: 94px;
}

.list-comand{
    display: flex;
}

.item-comand{
    background: var(--body-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-left: 30px;
}
.item-comand:first-child{
    margin-left: 0px;
}


.title-name{
        font-weight: 500;
        font-size: 16px;
        line-height:calc(19/16);
        text-align: center;
      color: var(--title-color);
}
.text-name {
        font-size: 16px;
        line-height:calc(19/16);
        text-align: center;

}

/*footer*/
.footer {
    background-color: var(--heroy-color);
    padding: 60px 0px;
}
.logo-footer {
    color: var(--header-color)
 }
 .logo-footer:hover,
 .logo-footer:focus{
color: var(--accent-color);
 }
 .address{
    font-style: normal;
    margin-top: 20px;
 }
.list-address{
    padding:0px ;
}

.link-address {
    color: var(--body-color);
    line-height: 1.71;
}
.item-addrees{
    margin-bottom: 9px;
}
.link-address-mail,
.link-address-tel{
color: var(--addrees-color);

}
.link-address-mail:hover,.link-address-tel:hover,.link-address:hover,
.link-address-mail:hover,.link-address-tel:focus,.link-address:focus {
    color: var(--accent-color);
}

/**

PORTFOLIO

**/

/*header*/
header {
    background-color: var(--header-color);
}
.list-aside, .list-gallery {
    list-style: none;
}
.list-aside{
    display: flex;
    justify-content:center;
    margin-bottom: 50px;
}
.contener-nav-portfolio{
    margin-bottom: 94px;
}
.item-aside:not(:last-child) {
    margin-right: 8px;
}
.list-gallery{
    display: flex;
    flex-wrap: wrap;
  padding: 0px;
}
.item-gallery {
    margin-right: 30px;
    margin-bottom: 30px;
}
.item-gallery:nth-child(3n){
    margin-right: 0px;
}
.title-gallery:nth-child(-n + 3){
    margin-bottom: 0px;
}
.title-gallery {
        color: var(--title-color);
        font-weight: 700;
        font-size: 18px;
        line-height:calc(36/18);
        letter-spacing: 0.06em;
        text-align: left;
        margin-bottom: 4px;
}
.work-gallery{
    border: 1px solid var(--body-color);
    padding: 24px 24px;
}
.button {
    background-color: var(--comand-color);
    color: var(--title-color);
    font-family: inherit;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    cursor: pointer;
    padding: 6px 22px;
    border: none;
}
.button:hover,
.button:focus{
    color: var(--body-color);
    background-color: var(--accent-color);
}

.text-gallery {
    color: var(--premiery-color);
    font-size: 16px;
    line-height:calc(30/16);
    text-align: left;
}

.gallery-contener{
    margin-bottom: 94px;
}





