:root {
    /* COLOR*/
    --premiery-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --heroy-color: rgba(47, 48, 58, 0.4);
    --heroy-color:rgba(47, 48, 58, 0.4);
    --footer-color: #2F303A;
    --product-color: rgba(47, 48, 58, 0.8);
    --body-color: #FFFFFF;
    --comand-color: #F5F4FA;
    --logo-color: #000000;
    --header-color: #ffffff;
    --addrees-color: rgba(255, 255, 255, 0.6);
    --line-color: #ECECEC;
    --client-color: #AFB1B8;
    --social-color: rgba(255, 255, 255, 0.1);
    --anime-color: rgba(33, 150, 243, 0.9);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --close-btn-color: rgba(0, 0, 0, 0.1);
    --field-color: rgba(33, 33, 33, 0.2);
    --placeholder-color:rgba(117, 117, 117, 0.5);
    --icon-color:#21c9f3;
    --modal-btn-color:#21c9f3;
        

    /*Fonts*/
    --main-font: 'Roboto', sans-serif  ;
    --secondary-font: 'Raleway', sans-serif;

    /* transition*/
        --transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0px; 
    padding: 0px;
}
img {
    display: block;
    max-width: 100%;
    height:auto;
}
.address{
    font-style: normal;
}
.button{
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.section{
    width: 1600px; 
    padding-top: 94px;
    padding-bottom: 94px;
}

.contener{
    width: 1200px;
    margin: 0px auto;
    padding: 0 15px;
  }
.list{
list-style:none;
padding-left:0px;
margin: 0px;
}
.link{
    text-decoration: none;
}

body {
    color: var(--premiery-color);
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
   
}

a { 
    text-decoration: none;
}
.transition, .benefits__list, .product__list, .user, .addrees__list,.gallery-btn, .section-work {
    list-style: none;
  }
  .contener{
    width: 1200px;
    margin: 0px auto;
    padding: 0 15px;
  }

/*navigation*/

.nav__contener{
display: flex;
align-items: center;
width: 1200px;
margin:0px auto ;
}
  
        .transition, .contacts__phone--color, .contacts__email--color {
        display: flex;   
        align-items: center; 
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
    }
.nav__site{
    display: flex;
   align-items: center;
}
 .logo{
    margin-right: 93px;
 }  
 .logo, .logo__studio--color, .logo__web {    
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height:calc(31/26);
}
.logo__web {
color: var(--accent-color);
}
.logo__studio--color {
    color: var(--logo-color) ;
    transition: color var(--transition);
}

.logo__studio--color:hover,
.logo__studio--color:focus {
    color: var(--accent-color);
}
.transition__page--color {
    color: var(--title-color);
    display: block;
    padding-top:32px ;
    padding-bottom: 32px;
    transition: color var(--transition);
}
.transition__page--color:hover,
.transition__page--color:focus {
    color: var(--accent-color);
    
}
.transition__page--current{
    color: var(--accent-color);
    transition: color var(--transition);
}

.transition__page--current:hover,
.transition__page--current:focus {
    color: var(--title-color);
}
.transition__link{
    position:relative;
}
.transition__page--current::after{
    position: absolute;
    left:0;
    bottom:0;
    display: block;
    content:"";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 4px;
}

.transition{
    display: flex;
    margin-right: auto;
}

.transition__link:not(:last-child){
    margin-right: 50px;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.contacts__email--color {
    color: var(--premiery-color);
    margin-right: 30px;
    transition: color var(--transition);
}

.contacts__email--color:hover,
.contacts__email--color:focus {
    color: var(--accent-color);
}
.contacts__phone--color {
    color: var(--premiery-color);
    margin-right: 50px;
    transition: color var(--transition);
    } 
 
 .contacts__phone--color:hover,
 .contacts__phone--color:focus
 {
    color: var(--accent-color);
 }   



.contacts__svg{
    fill: currentColor;
    margin-right: 10px;
}


/*heroy*/

.heroy {
 
    background-color: var(--heroy-color);
    background-image:linear-gradient(to left, var(--heroy-color), var(--heroy-color)), url(../images/fon.jpg);
    background-position: center;
    background-size:cover ;
    background-repeat:no-repeat ;
    max-width: 1600px;
    padding: 200px 0;
    margin: 0 auto;
}
.heroy__title {
        font-weight: 900;
        font-size: 44px;
        line-height:calc(60/44);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        width: 696px;
        margin: 0 auto 30px auto;
        color:var(--header-color) ;
      
}
 .btn{
    background-color: var(--accent-color);
    color: var(--body-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    width: auto;
}


/*benefits*/
.benefits{
    padding-top:94px;
    padding-bottom: 94px;
}

.benefits__list{
    display: flex;
    gap: 30px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

 .benefits__title{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    margin-top: 30px;
    }
   
.benefits__title, .comand__title,
 .product__title {
    color: var(--title-color);
}
.benefits__text{
    line-height: 1.71;   
}

.benefits__svg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color:var(--comand-color) ;
    border-radius:4px ;
}

/*product*/
.product{
    padding-bottom: 94px; 
}

.product__list{ 
    display: flex; 
}

.product__title,
.comand__title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    margin-bottom: 50px;
}

.product__item {
    position: relative;
    margin-left: 30px;
}
.product__item:first-child{
    margin-left: 0px;
}
.product__text{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    color: var(--body-color);
    background-color: var(--product-color);
    font-weight: 700;
    line-height: calc(16/14);
    text-transform: uppercase;
}


/*comand*/

.comand {
    background-color: var(--comand-color);
    padding-bottom: 94px;
    padding-top: 94px;
}

.user{
    display: flex;
}

.user__card{
    background: var(--body-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-left: 30px;

}
.user__card:first-child{
    margin-left: 0px;
  
}
.user__title{
    padding: 30px 0px;
}

.user__name{
        font-weight: 500;
        font-size: 16px;
        line-height:calc(19/16);
        text-align: center;
      color: var(--title-color);
      margin-bottom: 10px;
}
.user__profession {
        font-size: 16px;
        line-height:calc(19/16);
        text-align: center;
        margin-bottom: 16px;
}
.social{
list-style: none;
display: flex;
justify-content: center;
gap: 10px;
}
.social__link--bgrcolor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--client-color);
    border-radius: 50%;
    transition: color var(--transition), background-color var(--transition);
}

.social__link--bgrcolor:hover,
.social__link--bgrcolor:focus{
    background-color: var(--accent-color);
    color: var(--body-color);
}
.social__link--bgrcolor .social__svg--color{
    fill: currentColor;
    
}


 /*   Compani  */

.compani__title{
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height:calc(42/36);
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
padding-top: 94px;
}


.client{
display:flex;
padding: 94px 0;
list-style: none;

}
.client-logo{
    margin-right:30px;
    width: 170px;
    height: 92px;
  
}
.client-logo:last-child {
margin-right: 0px;

}
.client__svg{
    fill: currentColor;
}
.client__link--active{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--client-color);
    border: 1px solid var(--client-color);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: color var(--transition), border var(--transition);
    
}
.client__link--active:hover {
    color: var(--accent-color);
    border:1px solid var(--accent-color);
}


/*footer*/
.footer {
    background-color: var(--footer-color);
    padding: 60px 0px;
}
.footer__contener{
    display: flex;
    align-items: baseline;
}
.footer-addrees{
    margin-right: 70px;
}
.logo__footer--color {
    color: var(--header-color);
   transition: color var(--transition);
}
 
 .logo__footer--color:hover,
 .logo__footer--color:focus{
color: var(--accent-color);
 }
 .address{
    font-style: normal;
    margin-top: 20px;
 }
.addrees__list{
    padding:0px ;
}
.address__contact{
    margin-bottom: 9px;
}
.address__contact:last-child {
    margin-bottom: 0px;
}
.address__link--location {
    color: var(--body-color);
    line-height: 1.71;
    transition: color var(--transition);
}

.address__mail--write,
.address__mail--call{
color: var(--addrees-color);
transition: color var(--transition);

}
.address__mail--write:hover,.address__mail--call:hover,.address__link--location:hover,
.address__mail--write:hover,.address__mail--call:focus,.address__link--location:focus {
    color: var(--accent-color);
}

.social-address__text{
        font-weight: 700;
        line-height:calc(16/14);
        text-transform: uppercase;
        color: var(--body-color);
        margin-bottom: 20px;     
}
.social__svg{
    fill: var(--body-color);
}

.social__footer--bgr{
    background-color: var(--social-color);
    transition: background-color var(--transition);
}
.social__footer--bgr:hover,
.social__footer--bgr:focus{
    background-color: var(--accent-color);
}
.social-address{
    margin-right: auto;
}
.subscription-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscription-form__input{
    width:358px ;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow:4px 0px 4px rgba(0, 0, 0, 0.15);
    margin-right: 12px; 
    padding-left: 15px;   
}
.subscription-form__input:focus{
    color: var(--body-color);
}

.subscription-form-btn{
    width: 200px;
    height: 50px;
    color: var(--body-color);
    background-color: var(--accent-color);
    border: none;
}
.btn__svg{
    fill: var(--body-color);
    padding-left: 10px;
}

.backdrop--opacity {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-color);
    transition: opacity var(--transition), visibility var(--transition);
}
.backdrop--opacity.is-hidden{
    opacity: 0.5;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--body-color);
    border-radius: 4px;
    padding: 40px;
    margin-bottom: 10px;
}
.modal__blok {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    

}
.modal-form__title{
        display: block;
        font-weight: 700;
        font-size: 20px;
        line-height: calc(23/20);
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-color);
        margin: auto;
        margin-bottom: 12px;
      
}
.btn-modal--fill{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid var(--close-btn-color);
    border-radius: 50%;
    background-color:var(--body-color);
    box-shadow:0px 2px 1px rgba(0, 0, 0, 0.2), 
     0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 4px 4px rgba(0, 0, 0, 0.25);   
     transition: fill var(--transition); 
}
.btn-modal--fill:focus,
.btn-modal--fill:hover {
   fill: var(--accent-color);
}
.label{
    position: relative;
    margin-bottom: 10px;
}
.label__input--color{
    width: 100%;
    height: 40px;
    border: 1px solid var(--field-color);
    border-radius: 4px;
    cursor: pointer;
    padding-left: 42px;
    outline: transparent;
    transition: border-color var(--transition);
}
.label__input--color:focus {
    border-color: var(--accent-color);
}
.label__input--color:focus ~ .label__icon--fill{
    fill: var(--accent-color);
}
.label__icon--fill{
    FONT-WEIGHT: 200;
    position: absolute;
    top: 32px;
    left: 12px;
    color:
    var(--title-color);
    transition: fill var(--transition);
}
.label__name{
    display: block;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color:var(--premiery-color);
    margin-bottom: 4px;
}
.label-textarea--color{
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid var(--field-color);
    border-radius: 4px;
    cursor: pointer;
    outline: transparent;
    transition: border-color var(--transition);
  
}
.label-textarea--color::placeholder{
        font-size: 12px;
        line-height: calc(14/12);
        letter-spacing: 0.01em;
        color: var(--placeholder-color);    
}
.label-textarea--color:focus{
    border-color: var(--accent-color);
}
.checkbox__label{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    margin: 0 auto;
    vertical-align: middle;
}
.checkbox{
    margin-bottom: 30px;
}
.checkbox__svg--hidden{
    fill: var(--icon-color);
    opacity: 0;
    transition: opacity var(--transition);
}

.checkbox__svg--active{
    opacity: 1;
    transition: opacity var(--transition);
}

.checkbox__input:checked + .checkbox__icon .checkbox__svg--hidden{
    opacity: 1;
    }
.checkbox__input:checked + .checkbox__icon .checkbox__svg--active{
    opacity: 0;
}
.checkbox__text{
    user-select: none;
}
.checkbox__link{
    color: var(--anime-color);
    text-decoration: underline;
}
.modal-btn{
    background-color: var(--modal-btn-color);
    padding: 10px 52px;
}



/**

PORTFOLIO

**/

/*header*/

.nav {
    border-bottom: 1px solid var(--line-color);
}
.gallery{
    padding: 94px 0px;
}

.gallery-btn{
    display: flex;
    justify-content:center;
    margin-bottom: 50px;
}

.gallery-btn__choice:not(:last-child) {
    margin-right: 8px;
}
.button--color {
    background-color: var(--comand-color);
    color: var(--title-color);
    font-family: inherit;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    cursor: pointer;
    padding: 6px 22px;
    border: none;
    box-shadow: none;
    transition: background-color var(--transition), box-shadow var(--transition), color var(--transition);
}
.button--color:hover,
.button--color:focus{
    color: var(--body-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.section-work{
    display: flex;
    flex-wrap: wrap;
  padding: 0px;
}
.card {
    margin-right: 30px;
    margin-bottom: 30px;
}
.card:nth-child(3n){
    margin-right: 0px;
}
.card:nth-last-child(-n + 3){
    margin-bottom: 0px;
}
.card__link--shadow{
    display: block;
    box-shadow: none;
    transition: box-shadow var(--transition);
}
.card__link--shadow:hover,
.card__link--shadow:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__product{
    position: relative;
    overflow: hidden;  
}
.card__link--shadow:hover .card__anime--hidden,
.card__link--shadow:focus.card__anime--hidden {
    transform: translate(0);
}
.card__anime--hidden{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: var(--anime-color);
    transform:translateY(100%);
    transition: transform var(--transition) ; 
}
.card__text{
color: var(--body-color);
font-size: 18px;
line-height: calc(28/18);
letter-spacing: 0.03em;
}
.card:hover .card__anime--hidden{
transform: translate(0);
}
.card__title {
        color: var(--title-color);
        font-weight: 700;
        font-size: 18px;
        line-height:calc(36/18);
        letter-spacing: 0.06em;
        text-align: left;
        margin-bottom: 4px;
}
.card__item{
    border: 1px solid var(--line-color);
    padding: 24px 24px;
    
}


.card__desc {
    color: var(--premiery-color);
    font-size: 16px;
    line-height:calc(30/16);
    text-align: left;
}







