.logo{
    margin-right: 93px;
 }  
 .logo, .logo__studio--color, .logo__web {    
    font-family:$secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height:calc(31/26);
}
.logo__web {
color:$accent-color;
}
.logo__studio--color {
    color: var$logo-color ;
    transition: color $transition;
    &:hover,
    &:focus {
    color: $accent-color;
}
}